.school-item {
  border: 1px solid red;
  padding: 16px;
  width: 100px;
}

.scholl-section{
  border: 1px solid red;
  display: flex;
  gap: 10px;
  margin: 20px 0;
  padding: 20px;


}
.flex{
  border: 1px solid black;
}

.blue{
  border: 1px solid blue;
}